body {
  background-color: rgb(18, 18, 53);
  width: 100vw;
  height: 100vh;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tittle-h1-white {
  color: white;
}

main {
  background-color: white;
  box-shadow: 10px 10px 2px black;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  width: 70vw;
  height: 90vh;
}


.btn-large-pink {
  min-width: 200px;
  min-height: 100px;
  font-size: 36px;
  margin: 10px;

  background-color: lightpink;
  border: 0;
  cursor: pointer;
}

.btn-large-pink:hover {
  opacity: 0.7;
}

.flex-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}